*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1f2937;
    padding: 0px 150px 120px 150px;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 100px 0;
}

.header-logo, .header-content-left > p{
    font-size: 24px;
    color: #f9faf8; 
}

nav{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7e8; 
}

.header-content{
    display: flex;
    justify-content: space-between;
}

.header-content-left > h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header-content-left > p{
    margin-bottom: 10px;
}

.header-content-right{
    text-align: center;
    color: #F9FAF8;
    width: 500px;
    height: 200px;
    background-color: gray;
}

.header-content-right > p{
    margin: 90px 0 0 0;
}

.header-button, .sign-up-box > button{
    padding: 5px 40px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 8px;
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 40px 0 40px 0;
}

.content1{
    margin-bottom: 150px;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.box1, .box2, .box3, .box4{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 200px;
    gap: 10px;
}

.box1-img, .box2-img, .box3-img, .box4-img{
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    flex-shrink: 0;
}

.content2{
    background-color: #e5e7eb;
}

.quote-box{
    display: flex;
    justify-content: center;
    padding: 150px 0 150px 0;
}

.quote{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 800px;
    height: auto;
    flex-wrap: wrap;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-author{
    align-self: flex-end;
    font-size: 22px;
    font-weight: bolder;
}

.content3{
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 0;
}

.sign-up-box{
    width: 800px;
    background-color: #3882F6;
    padding: 30px 60px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.text-action{
    color: #e5e7eb;
}

.text-action > h3{
    font-size: 26px;
}

.sign-up-box > button{
    border: 1px solid #e5e7eb;
    flex-shrink: 0;
}